// Import mixins for browser compatibility:
@import
  "../functions/functions",
  "../variables/variables",
  "../mixins/mixins";


// ** BASIC FLEX ATTRIBUTES **

%flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

%inline-flex{
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: flex;
}

%flex-row{
  @extend %flex;
  @include flex-direction(row);
}

%flex-column{
  @extend %flex;
  @include flex-direction(column);
}

%flex-column-center-center{
  @extend %flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);
}

%flex-justify-between{
  @extend %flex;
  @include justify-content(space-between);
}

%flex-row-left-top{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(flex-start);
  // Vertical align:
  @include align-content(flex-start);
}

%flex-row-left-center{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(flex-start);
  // Vertical align:
  @include align-content(center);
}

%flex-row-left-bottom{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(flex-start);
  // Vertical align:
  @include align-content(flex-end);
}

%flex-row-center-top{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(center);
  // Vertical align:
  @include align-content(flex-start);
}

%flex-row-center-center{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(center);
  // Vertical align:
  @include align-content(center);
}

%flex-row-center-bottom{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(center);
  // Vertical align:
  @include align-content(flex-end);
}

%flex-row-right-top{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(flex-end);
  // Vertical align:
  @include align-content(flex-start);
}

%flex-row-right-center{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(flex-end);
  // Vertical align:
  @include align-content(center);
}

%flex-row-right-bottom{
  @extend %flex-row;
  // Horizontal align:
  @include justify-content(flex-end);
  // Vertical align:
  @include align-content(flex-end);
}

%flex-row-justify-between{
  @extend %flex-row;
}

%flex-row-justify-between-wrap{
  @extend %flex-row;
  @include flex-wrap(wrap);
}

%flex-row-center-center-wrap{
  @extend %flex-row-center-center;
  @include flex-wrap(wrap);
}



// ** FONT SMOOTHING **
%font-smoothing{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}




// ** Component **
%component{
  @include box-sizing(get('component.box-sizing'));
}