@import
  "../functions/functions",
  "../variables/variables",
  "../mixins/mixins",
  "../commons/commons";




// ** Init. display resolution breakpoints **
$res_desktop: get('root.resolution.desktop');
$res_desktop_sm: get('root.resolution.desktop-sm');
$res_tablet: get('root.resolution.tablet');
$res_mobile: get('root.resolution.mobile');




// ** Init. media queries **
$mq_desktop: 'only screen and (min-width: #{$res_desktop_sm + 1})';
$mq_desktop_sm: 'only screen and (min-width: #{$res_tablet + 1}) and (max-width: #{$res_desktop_sm})';
$mq_tablet: 'only screen and (min-width: #{$res_mobile + 1}) and (max-width: #{$res_tablet})';
$mq_mobile: 'only screen and (min-width: 0px) and (max-width: #{$res_mobile})';




// ** Init. container max width **
$mw_desktop:     ($res_desktop    - 100px);
$mw_desktop_sm:   ($res_desktop_sm  - 100px);
$mw_tablet:      ($res_tablet     - 100px);
$mw_mobile:      ($res_mobile     - 100px);




// ** Init. horizontal content margin variable **
$margin_hz: get('content.margin.right') + get('content.margin.left');




// ** Typical grid classes **

// Container.
.container, container-loose{
  width: calc(100% - #{$margin_hz});
  margin:
    0
    get('content.margin.right')
    0
    get('content.margin.left');
}

// Top margin if two containers are next to each other.
.container + .container {
  margin-top: get('content.margin.top');
}

// Row main.
.row {
  @extend %flex-row-left-top;
  @include justify-content(get('row.justify-content'));
  @include align-items(get('row.align-items'));
  @include flex-wrap(get('row.flex-wrap'));
  $margin_left: (get('content.margin.left') * -1);
  $margin_right: (get('content.margin.right') * -1);
  width: calc( 100% - #{$margin_left} - #{$margin_right} );
  margin: 0 #{$margin_right} 0 #{$margin_left};
}

// Column main.
.col {
  @include flex-grow(get('col.flex-grow'));
  padding:
    get('content.margin.top')
    get('content.margin.right')
    get('content.margin.bottom')
    get('content.margin.left');
}




// ** Media queries **

// Query: Mobile.
@media #{$mq_mobile} {
  .container{max-width: $mw_mobile;}
  .col:first-child:nth-last-child(1), .col:first-child:nth-last-child(1) ~ .col{width: calc(100% / 1 - #{$margin_hz});}
  .col:first-child:nth-last-child(2), .col:first-child:nth-last-child(2) ~ .col{width: calc(100% / 1 - #{$margin_hz});}
  .col:first-child:nth-last-child(3), .col:first-child:nth-last-child(3) ~ .col{width: calc(100% / 1 - #{$margin_hz});}
  .col:first-child:nth-last-child(4), .col:first-child:nth-last-child(4) ~ .col{width: calc(100% / 1 - #{$margin_hz});}
}

// Query: Tablet.
@media #{$mq_tablet} {
  .container{max-width: $mw_tablet;}
  .col:first-child:nth-last-child(1), .col:first-child:nth-last-child(1) ~ .col{width: calc(100% / 1 - #{$margin_hz});}
  .col:first-child:nth-last-child(2), .col:first-child:nth-last-child(2) ~ .col{width: calc(100% / 2 - #{$margin_hz});}
  .col:first-child:nth-last-child(3), .col:first-child:nth-last-child(3) ~ .col{width: calc(100% / 2 - #{$margin_hz});}
  .col:first-child:nth-last-child(4), .col:first-child:nth-last-child(4) ~ .col{width: calc(100% / 2 - #{$margin_hz});}
}

// Query: Desktop (small).
@media #{$mq_desktop_sm} {
  .container{max-width: $mw_desktop_sm;}
  .col:first-child:nth-last-child(1), .col:first-child:nth-last-child(1) ~ .col{width: calc(100% / 1 - #{$margin_hz});}
  .col:first-child:nth-last-child(2), .col:first-child:nth-last-child(2) ~ .col{width: calc(100% / 2 - #{$margin_hz});}
  .col:first-child:nth-last-child(3), .col:first-child:nth-last-child(3) ~ .col{width: calc(100% / 3 - #{$margin_hz});}
  .col:first-child:nth-last-child(4), .col:first-child:nth-last-child(4) ~ .col{width: calc(100% / 3 - #{$margin_hz});}
}

// Query: Desktop.
@media #{$mq_desktop} {
  .container{max-width: $mw_desktop;}
  .col:first-child:nth-last-child(1), .col:first-child:nth-last-child(1) ~ .col{width: calc(100% / 1 - #{$margin_hz});}
  .col:first-child:nth-last-child(2), .col:first-child:nth-last-child(2) ~ .col{width: calc(100% / 2 - #{$margin_hz});}
  .col:first-child:nth-last-child(3), .col:first-child:nth-last-child(3) ~ .col{width: calc(100% / 3 - #{$margin_hz});}
  .col:first-child:nth-last-child(4), .col:first-child:nth-last-child(4) ~ .col{width: calc(100% / 4 - #{$margin_hz});}
}
