// Import.
@import "../functions/functions";




// The index size.
$idx: 10px;




// Colors.
$colors: (

  'green': #31C573,
  'dark-green': #2FB46A,
  'light-green': #07ED94,

  'clay': #7198A6,
  'dark-clay': #618390,
  'light-clay': #D7EAE9,

  'gray': #F1F1F1,
  'dark-gray': #667E87,
  'light-gray': #F5F5F5,

  'sky-blue': #F1FAFF,

  'darker': rgba(0,0,0,0.5),
  'lighter': rgba(255,255,255,0.6),

  'dark':  #3d4e67,

);




// Map of Bootstrap's (4.1) standard colors:
$bootstrap: (
  'color': (
    'primary':      #007bff,
    'secondary':    #6c757d,
    'success':      #28a745,
    'danger':       #dc3545,
    'warning':      #ffc107,
    'info':         #17a2b8,
    'muted':        #6c757d,
    'light':        #f8f9fa,
    'dark':         #343a40,
    'white':        white,
    'transparent':  transparent,
    'white-50':     rgba(255,255,255,.5),
    'black-50':     rgba(0,0,0,.5)
  )
);




// Map of variables.
$main: (


  // ** Root **
  'root': (
    'scroll-behavior': smooth,
    'family': '"Quicksand", sans-serif',
    'size': $idx,
    'weight': 700,
    'style': none,
    'transform': none,
    'line-height': 1,
    'letter-spacing': 0,
    'text-align': left,
    'color': get('dark-gray', $colors),
    'resolution': (
      'desktop':      1199px,
      'desktop-sm':   991px,
      'tablet':       768px,
      'mobile':       575px
    )
  ),


  // ** Font **
  'font': (

    // Heading 1.
    'h1': (
      'family': '"Quicksand", sans-serif',
      'size': 2.5rem,
      'weight': 700,
      'style': normal,
      'transform': none,
      'line-height': 1.25em,
      'letter-spacing': 0,
      'text-align': inherit,
      'color': get('dark', $colors)
    ),

    // Heading 2.
    'h2': (
      'family': '"Quicksand", sans-serif',
      'size': 2rem,
      'weight': 700,
      'style': normal,
      'transform': none,
      'line-height': 1.25em,
      'letter-spacing': 0,
      'text-align': inherit,
      'color': get('dark', $colors),
    ),

    // Heading 3.
    'h3': (
      'family': '"Quicksand", sans-serif',
      'size': 1.8rem,
      'weight': 700,
      'style': normal,
      'transform': none,
      'line-height': 1.25em,
      'letter-spacing': 0,
      'text-align': inherit,
      'color': get('dark', $colors),
    ),

    // Heading 4.
    'h4': (
      'family': '"Quicksand", sans-serif',
      'size': 1.6rem,
      'weight': 700,
      'style': normal,
      'transform': none,
      'line-height': 1.25em,
      'letter-spacing': 0,
      'text-align': inherit,
      'color': get('dark', $colors),
    ),

    // Heading 5.
    'h5': (
      'family': '"Quicksand", sans-serif',
      'size': 1.5rem,
      'weight': 700,
      'style': normal,
      'transform': none,
      'line-height': 1.25em,
      'letter-spacing': 0,
      'text-align': inherit,
      'color': get('dark', $colors),
    ),

    // Heading 6.
    'h6': (
      'family': '"Quicksand", sans-serif',
      'size': 1.3rem,
      'weight': 700,
      'style': normal,
      'transform': uppercase,
      'line-height': 1.25em,
      'letter-spacing': 0.05em,
      'text-align': center,
      'color': get('clay', $colors),
    ),

    // Paragraph.
    'p': (
      'family': '"Quicksand", sans-serif',
      'size': 1.4rem,
      'weight': 700,
      'style': normal,
      'transform': none,
      'line-height': 1.25em,
      'letter-spacing': 0,
      'text-align': inherit,
      'color': get('dark-clay', $colors),
    ),

    // Small.
    'small': (
      'family': '"Quicksand", sans-serif',
      'size': '',
      'weight': '',
      'style': '',
      'transform': '',
      'line-height': '',
      'letter-spacing': '',
      'text-align': '',
      'color': ''
    ),

    // Tiny.
    'tiny': (
      'family': '"Quicksand", sans-serif',
      'size': '',
      'weight': '',
      'style': '',
      'transform': '',
      'line-height': '',
      'letter-spacing': '',
      'text-align': '',
      'color': ''
    ),

  ),


  // ** Body **
  'body': (
    'width': 100%,
    'height': 100vh,
    'position': relative,
    'z-index': 1
  ),


  // ** Header **
  'header': (
    'width': 100%,
    'height': 6rem,
    'position': (
      'relative': relative,
      'fixed': fixed
    ),
    'top': 0,
    'left': 0,
    'z-index': 5
  ),


  // ** Main **
  'main': (
    'width': 100%,
    'position': relative,
    'z-index': 2
  ),


  // ** Section **
  'section': (
    'width': 100%,
    'padding': (
      'top': 1rem,
      'right': 0,
      'bottom': 1rem,
      'left': 0,
    ),
    'position': relative,
    'z-index': 3
  ),


  // ** Row **
  'row': (
    'width': 100%,
    'position': relative,
    'justify-content': space-between,
    'align-items': stretch,
    'flex-wrap': wrap,
  ),


  // ** Column **
  'col': (
    'flex-grow': 1
  ),


  // ** Footer **
  'footer': (
    'width': 100%,
    'position': relative,
    'z-index': 4
  ),


  // ** Generic content **
  'content': (
    'margin': (
      'top': 1rem,
      'right': 1rem,
      'bottom': 1rem,
      'left': 1rem,
    )
  ),


  // ** Custom components **
  'component': (

    'box-sizing': border-box,

    /* Drop shadow for all components */
    'drop-shadow': (
      'white': 0 0 10px rgba(0,57,81,0.15),
      'green': 0 0 10px rgba(0,191,85,0.5),
      'clay': 0 0 10px rgba(0,57,81,0.25),
    ),

    /* 3D box shadow for all components */
    'box-shadow': (
      'white': 0 0.25rem 0 get('light-gray', $colors),
      'green': 0 0.25rem 0 get('dark-green', $colors),
      'clay': 0 0.25rem 0 get('dark-clay', $colors),
    ),

    /* Border radius for all components */
    'border-radius': 0.5rem,

    /* Card */
    'card': (
      'padding': (
        'top': 2rem,
        'right': 1.5rem,
        'bottom': 2rem,
        'left': 1.5rem,
      ),
      'text-align': center,
      'background-color': (
        'green': get('green', $colors),
        'white': white,
      ),
      'color': (
        'green': white,
        'white': get('dark-gray', $colors),
      )
    ),

    /* Button */
    'button': (
      'display': inline-block,
      'box-sizing': border-box,
      'background-color': (
        'white': white,
        'green': get('green', $colors),
        'clay': get('clay', $colors)
      ),
      'color': (
        'white': get('dark-gray', $colors),
        'green': white,
        'clay': white
      ),
      'font-weight': 700,
      'text-align': center,
      'padding': (
        'top': 0.75rem,
        'right': 1rem,
        'bottom': 0.75rem,
        'left': 1rem,
      ),
      'border': 0,
      'cursor': pointer,
      'text-decoration': none,
    ),

    /* Input */
    'input': (
      'display': inline-block,
      'appearance': none,
      'box-sizing': border-box,
      'background-color': white,
      'width': 100%,
      'color': get('dark-clay', $colors),
      'placeholder': get('light-clay', $colors),
      'font-weight': 700,
      'text-align': center,
      'padding': (
        'top': 0.75rem,
        'right': 1rem,
        'bottom': 0.75rem,
        'left': 1rem,
      ),
      'border': 0,
      'overflow': hidden,
    ),

    /* Options */
    'options': (
      'margin': (
        'top': 0.5rem,
      ),
    ),

    /* Option (singular) */
    'option': (
      'font-weight': 700,
    ),

    /* Menu Bar */
    'menu-bar': (
      'width': calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right)),
      'height': 4rem,
      'background-color': get('green', $colors),
      'cursor': pointer,
      'margin': (
        'top': 0,
        'right': 0,
        'bottom': calc(1rem + env(safe-area-inset-bottom)),
        'left': 0,
      ),
      'button': (
        'width': 100%,
        'padding': (
          'top': 1rem,
          'right': 0,
          'bottom': 1rem,
          'left': 0,
        ),
        'img': (
          'height': 2.5rem,
        ),
        'badge': (
          'width': 1.5em,
          'height': 1.5em,
          'top': 0.3rem,
          'right': calc(50% - 2.5em),
          'position': absolute,
          'background-color': get('color.danger', $bootstrap),
          'border-radius': 50%,
          'color': white,
          'font': (
            'size': 1.2rem,
            'style': normal,
            'weight': 700,
          ),
        ),
      ),
    ),

    /* Tab Container */
    'tab-container': (
      'width': 100%,
      'max-width': 20rem,
      'overflow': hidden,
      // Tab button:
      'tab-button': (
        'width': 100%,
        'padding': 1rem,
        'font-weight': 700,
        'font-size': 1.2rem,
        'cursor': pointer,
        'background-color': (
          'normal': get('gray', $colors),
          'active': white,
        ),
        'color': (
          'normal': get('dark-gray', $colors),
          'active': get('light-green', $colors),
        ),
      ),
    ),

    /* Profile Badge */
    'profile-badge': (
      'width': 100%,
      'margin': (
        'top': 0,
        'right': 0,
        'bottom': 2rem,
        'left': 0,
      ),
      // Badge image:
      'image': (
        'width': 6rem,
        'height': 6rem,
        'border-radius': 50%,
        'display': block,
        'background-color': get('light-clay', $colors),
        'background-repeat': no-repeat,
        'background-size': cover,
        'margin': (
          'top': 0,
          'right': 0,
          'bottom': 1rem,
          'left': 0,
        ),
      ),
      // Badge name:
      'name': (
        'font-size': 2rem,
        'color': get('dark', $colors),
        'margin': (
          'top': 0,
          'right': 0,
          'bottom': 0,
          'left': 0,
          'none': 0,
        ),
      ),
      'address': (
        'font-size': 1.6rem,
        'margin': (
          'top': 0,
          'right': 0,
          'bottom': 0,
          'left': 0,
          'none': 0,
        ),
      ),
    ),

    /* Progress Bar */
    'progress-bar': (

    ),

    /* Toggle Switch */
    'toggle-switch': (
      'width': 5rem,
      'border': (
        'width': .5rem,
        'style': solid,
        'color': get('light-clay', $colors),
      ),
      'background-color': (
        'on': get('light-green', $colors),
        'off': white,
      ),
      'transition': transform 200ms ease-in-out,
      'button': (
        'border-radius': 50%,
        'cursor': pointer,
        'box-shadow': 0 .2rem .4rem rgba(0,0,0,0.4),
        'background-color': white,
      ),
    ),

  ),

);