@import
  "../functions/functions",
  "../variables/variables",
  "../mixins/mixins",
  "../commons/commons";




// ** Form group **
.form-group, .form-group *{
  width: 100%;
}
.form-group + .form-group{
  padding: 2rem 0 0 0;
}



// ** Form label **
.label{
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 5px 0;
  box-sizing: border-box;
  color: get('light-clay', $colors);
}




// ** Navigation Bar **
.nav-bar{
  @extend %flex-row-justify-between;
  @include align-items(center);
  @include align-content(center);
  width: 100%;
  height: 6rem;
}

.brand{
  font-style: normal;
  font-size: get('font.h3.size');
  font-weight: 700;
  color: white;
}

.nav-menu{
  @extend %flex-row;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.nav-menu > li{
  font-size: get('font.p.size');
  color: white;
}

.nav-menu > li + .nav-menu > li, .nav-menu > li:not(:first-child){
  margin-left: 2rem;
}




// ** Table **
%table-container{
  width: 100%;
  font-size: get('font.p.size');
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.table-container{
  @extend %table-container;
  table{
    width: 100%;
  }
  thead, tfoot{
    background-color: get('dark-clay', $colors);
    th{
      color: white;
    }
  }
  tbody{}
  th,td{
    padding: 0.5em;
    white-space: nowrap;
  }
  td + td {
    border-left: inset 1px #ddd;
  }
  tbody tr:nth-child(odd){
    background-color: #f1f1f1;
  }
  tbody tr:nth-child(even){
    background-color: #f9f9f9;
  }
}