@import
"card",
"button",
"input",
"progress",
"profile-badge",
"tab-page",
"tab-container",
"menubar",
"bullet",
"app-page",
"product-box",
"shopping-cart";




[data-visible="true"]{
  visibility: visible;
}

[data-visible="false"]{
  visibility: hidden;
  display: none;
  position: absolute;
}