@import "card", "button", "input", "progress", "profile-badge", "tab-page", "tab-button";

[data-visible="true"]{
  visibility: visible;
}

[data-visible="false"]{
  visibility: hidden;
  display: none;
  position: absolute;
}