@import
  "../functions/functions",
  "../variables/variables",
  "../mixins/mixins",
  "../commons/commons";




%input{
  @extend %component;
  @include border-radius(get('component.border-radius'));
  @include box-sizing(get('component.input.box-sizing'));
  @include appearance('component.input.appearance');
  @include appearance(inherit);
  display: get('component.input.display');
  width: get('component.input.width');
  padding:
    get('component.input.padding.top')
    get('component.input.padding.right')
    get('component.input.padding.bottom')
    get('component.input.padding.left');
  border: get('component.input.border');
  font-size: get('font.p.size');
  font-weight: get('component.input.font-weight');
  background-color: get('component.input.background-color');
  color: get('component.input.color');
  overflow: get('component.input.overflow');
}

.input{
  @extend %input;
}
.input::placeholder{
  color: get('component.input.placeholder');
}

.input-3d{
  @include box-shadow(#{get('component.3d.white'), get('component.shadow.white')});
  -webkit-appearance: inherit;
}

.input-flat{
  background-color: get('light-gray', $colors);
  color: get('dark', $colors);
}

.input-flat::placeholder{
  color: get('clay', $colors);
}




// ** Dropdown **
.options{
  @extend %input;
  @include box-shadow(#{get('component.3d.white'), get('component.shadow.white')});
  $mx: (get('content.margin.left') + get('content.margin.right'));
  margin-top: get('component.options.margin.top');
  padding: 0;
  max-height: 15rem;
  * {
    position: relative;
    font-weight: get('component.option.font-weight');
    padding:
      get('component.input.padding.top')
      get('component.input.padding.right')
      get('component.input.padding.bottom')
      get('component.input.padding.left');
  }
  *:hover{
    background-color: get('light-gray', $colors);
    cursor: pointer;
  }
}