@import
  "../functions/functions",
  "../variables/variables",
  "../mixins/mixins",
  "../commons/commons";




%input{
  @extend %component;
  display: get('component.input.display');
  width: get('component.input.width');
  padding:
    get('component.input.padding.top')
    get('component.input.padding.right')
    get('component.input.padding.bottom')
    get('component.input.padding.left');
  border: get('component.input.border');
  font-weight: get('component.input.font-weight');
  background-color: get('component.input.background-color');
  color: get('component.input.color');
  overflow: get('component.input.overflow');
  @include border-radius(get('component.border-radius'));
  @include box-sizing(get('component.input.box-sizing'));
  @include appearance(none);
  @include box-shadow(get('component.box-shadow.white'));
  @include drop-shadow(get('component.drop-shadow.white'));
}

.input{
  @extend %input;
}
.input::placeholder{
  color: get('component.input.placeholder');
}