@import
"../functions/functions",
"../variables/variables",
"../mixins/mixins",
"../commons/commons";


// ** Variables **
$radius: get('component.border-radius');


// ** Menu bar **
menu-bar{
  @extend %flex-row;
  width: get('component.menu-bar.width');
  background-color: get('component.menu-bar.background-color');
  @include border-radius($radius $radius 0 0);
  @include drop-shadow(get('component.drop-shadow.green'));

  .menu-btn{
    @extend %flex-column-center-center;
    padding-top: 1rem;
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
    width: 100%;

    img{
      height: 2.5rem;
    }
  }

  .menu-btn:first-child{
    @include border-radius($radius 0 0 0);
  }

  .menu-btn:last-child{
    @include border-radius(0 $radius 0 0);
  }

  .menu-btn:hover{
    background-color: get('dark-green', $colors);
    cursor: get('component.menu-bar.cursor');
  }
}

#shop-button-badge{
  @extend %flex-row-center-center;
  font-style: normal;
  font-size: 1.2rem;
  background-color: red;
  position: absolute;
  top: 0.3rem;
  right: calc(50% - 2.5em);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  color: white;
  font-weight: bold;
}