@import
  "../functions/functions",
  "../variables/variables",
  "../mixins/mixins",
  "../commons/commons";

progress-bar{
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 0.3rem;
  background-color: get('light-clay', $colors);
  *{
    background-color: get('light-green', $colors);
    width: 100%;
    height: 100%;
    border-radius: 0.15rem;
  }
}