@import
"../functions/functions",
"../variables/variables",
"../mixins/mixins",
"../commons/commons";


profile-badge{
  @extend %flex-column-center-center;
  width: get('component.profile-badge.width');
  margin-bottom: get('component.profile-badge.margin.bottom');

  #badge-image{
    display: get('component.profile-badge.image.display');
    width: get('component.profile-badge.image.width');
    height: get('component.profile-badge.image.height');
    margin-bottom: get('component.profile-badge.image.margin.bottom');
    border-radius: get('component.profile-badge.image.border-radius');
    background-color: get('component.profile-badge.image.background-color');
    background-repeat: get('component.profile-badge.image.background-repeat');
    background-size: get('component.profile-badge.image.background-size');
  }

  #badge-name{
    font-size: get('component.profile-badge.name.font-size');
    color: get('component.profile-badge.name.color');
    margin: get('component.profile-badge.name.margin.none');
  }

  #badge-address{
    font-size: get('component.profile-badge.address.font-size');
    margin: get('component.profile-badge.address.margin.none');
  }
}