@import
"../functions/functions",
"../variables/variables",
"../mixins/mixins",
"../commons/commons";




// * Product Box (common):
%product-box{
  @extend %flex-column-center-center;
  @include flex-grow(1);
  @include justify-content(flex-end !important);
  width: 100%;
  min-width: 150px;
  @include border-radius(0.5rem);
}


product-box{
  @extend %product-box;
}

.product-box-img{
  width: 80px;
  height: 80px;
  @include background-size(cover);
}

.product-box-name{
  margin: 1rem 0 0 0;
  max-width: 15rem;
}

.product-box-price{
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
}

.product-box-price::before{
  content: 'NOK: ';
}