@import
  "../functions/functions",
  "../variables/variables",
  "../commons/commons";




// ** Text alignment **
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
  text-justify: inter-character;
}




// ** Text color **
.text-green{
  color: get('green', $colors);
}
.text-dark-green{
  color: get('dark-green', $colors);
}
.text-light-green{
  color: get('light-green', $colors);
}
.text-clay{
  color: get('clay', $colors);
}
.text-dark-clay{
  color: get('dark-clay', $colors);
}
.text-light-clay{
  color: get('light-clay', $colors);
}
.text-gray{
  color: get('gray', $colors);
}
.text-dark-gray{
  color: get('dark-gray', $colors);
}
.text-light-gray{
  color: get('light-gray', $colors);
}
.text-skye-blue{
  color: get('sky-blue', $colors);
}
.text-darker{
  color: get('darker', $colors);
}
.text-lighter{
  color: get('lighter', $colors);
}
.text-dark{
  color: get('dark', $colors);
}




// ** Width **
$i:0;
@while $i <= 100{
  .w-#{$i}{ width: #{unquote('#{$i}%')} !important; }
  $i: $i + 10;
}




// ** Height **
$i:0;
@while $i <= 100{
  .h-#{$i}{ width: #{unquote('#{$i}vh')} !important; }
  $i: $i + 10;
}




// ** Margin **
@for $i from 0 through 10 {
  .m-#{$i}{ margin: #{unquote('#{$i}rem')} !important; }
  .mt-#{$i}{ margin-top: #{unquote('#{$i}rem')} !important; }
  .ml-#{$i}{ margin-left: #{unquote('#{$i}rem')} !important; }
  .mr-#{$i}{ margin-right: #{unquote('#{$i}rem')} !important; }
  .mb-#{$i}{ margin-bottom: #{unquote('#{$i}rem')} !important; }
  .mx-#{$i}{
    margin-left: #{unquote('#{$i}rem')} !important;
    margin-right: #{unquote('#{$i}rem')} !important;
  }
  .my-#{$i}{
    margin-top: #{unquote('#{$i}rem')} !important;
    margin-bottom: #{unquote('#{$i}rem')} !important;
  }
}




// ** Padding **
@for $i from 0 through 10 {
  .p-#{$i}{ padding: #{unquote('#{$i}rem')} !important; }
  .pt-#{$i}{ padding-top: #{unquote('#{$i}rem')} !important; }
  .pl-#{$i}{ padding-left: #{unquote('#{$i}rem')} !important; }
  .pr-#{$i}{ padding-right: #{unquote('#{$i}rem')} !important; }
  .pb-#{$i}{ padding-bottom: #{unquote('#{$i}rem')} !important; }
  .px-#{$i}{
    padding-left: #{unquote('#{$i}rem')} !important;
    padding-right: #{unquote('#{$i}rem')} !important;
  }
  .py-#{$i}{
    padding-top: #{unquote('#{$i}rem')} !important;
    padding-bottom: #{unquote('#{$i}rem')} !important;
  }
}




// ** Flex attributes **
.d-flex{
  @extend %flex;
}

.flex-row{
  @extend %flex-row;
}

.flex-column{
  @extend %flex-column;
}

.flex-row-left-top{
  @extend %flex-row-left-top;
}

.flex-row-left-center{
  @extend %flex-row-left-center;
}

.flex-row-left-bottom{
  @extend %flex-row-left-bottom;
}

.flex-row-center-top{
  @extend %flex-row-center-top;
}

.flex-row-center-center{
  @extend %flex-row-center-center;
}

.flex-row-center-bottom{
  @extend %flex-row-center-bottom;
}

.flex-row-right-top{
  @extend %flex-row-right-top;
}

.flex-row-right-center{
  @extend %flex-row-right-center;
}

.flex-row-right-bottom{
  @extend %flex-row-right-bottom;
}

.justify-between{
  @extend %flex-justify-between;
}

.flex-row-justify-between{
  @extend %flex-row-justify-between;
}

.flex-row-justify-between-wrap{
  @extend %flex-row-justify-between-wrap;
}